.box{
    grid-column-start:auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;

    background:white;
}

.Main{
    display:grid;
    position: absolute;
    margin-left: -200px;
    margin-right: auto;
    border-style: solid;
    border-color: orangered;
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 2px;
    left: 50%;
}

.falseMain{
    position: absolute;
    margin-left: -200px;
    margin-right: auto;
    border-style: solid;
    border-color: orangered;
    background: lightGrey;
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 2px;
    left: 50%;
}
#color{
    background: gold;
    color: black;
}

.drawn{
    display: grid;
}

.pixel{
    background: white;
}

.bottomButtons#start{
    left: 75%;
}

button#reset{
    left: 20%;
}
.bottomButtons{
    position: relative;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
    border-radius: 50%;
    text-align: center;
    top: 500px;
    box-shadow: 5px 5px 5px;
}

body{
    background: steelblue;
}

.options{
    display: block;
    margin-left:auto;
    margin-right:auto;
    height: 50px;
    text-align: center;
}

.optionsSlider{
    position: relative;
    margin-left: -150px;
    width: 300px; 
    top: 450px;
    left: 50%;
}

.sketchPad{
    background: #e34424;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10%;
    border-style: solid;
    border-color: #c73c20;
    box-shadow: 0px 0px 5px 3px;
    height: 600px;
    margin-bottom: -400px;
}
.text{
    font-family: 'Leckerli One', cursive;
    position: absolute;
    font-size: 6vw;
    color:gold;
    height:200;
    width:110;
    top:25%;
}
.text#left{
    left:5%;
}
.text#right{
    left:75%;
}